@import "tailwindcss";


/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.items{
  list-style: none;
  border-top: 1.5px solid rgba(49, 49, 49, 0.636);
}

.categories{
  font-family: "Inter", sans-serif;
}
.categories h2{
font-weight: bold;
}

.rights{
  font-family: "Inter", sans-serif;
}
